# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
.venv/
venv/

# App outputs
uploads/*
output/*
page_images/
cropped_labels/
annotated_pages/

# Secrets
.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
